<h1>Level Five</h1>
<h4>Your boss got the message and tells you to come back when you're feeling better. You take a couple days to recover and you're back in the office.</h4>
<h4>A coworker asks you to look over his work to check for a bug. You comb through his impressive thousand lines of code trying to figure out what he did wrong. You notice an extra semi-colon just hanging out in the wind.</h4>

<img src="../assets/jakethedog.gif" alt="Jake is sick"><br><br>

<form>
  <a (click)="levelFiveLoud()"> You tell him he needs to implement three more complex functions and that you might as well do it yourself since he clearly has no idea what he's doing. You take over the computer and add ten extra lines of code.</a><br>
  <a (click)="levelFiveQuiet()"> You discover the entire company has no linters or spell-checks on any computer. You set up some sweet linters.</a>
</form>
