/* You can add global styles to this file, and also import other style files */
body {
  font-family: serif;
}

img {
  border-radius: 10px;
  border: 1px solid black;
}

a {
  font-size: 150%;
  border-radius: 10px;
  border: 6px solid black;
}

a:hover {
background-color: teal;
color: white;
text-decoration: none;
}
